{{define "nav-test"}}
{{ $context := . }}
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item logo">
        <img src="/files/img/logo-flat.png" alt="Brucheion logo">
      </a>
    </div>
    <div class="navbar-end">
      <span class="navbar-end navbar-burger burger" data-target="navMenu">
        <!-- <span></span>
        <span></span>
        <span></span> -->
      </span>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link">
            Tools
          </p>
          <div class="navbar-dropdown">
            {{ range $context.Sections }}
              <a href="{{ call $context.SectionUrlFunc . }}"
                  class="navbar-item">{{ . }}</a>
            {{ end }}
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <p class="navbar-link">
            <i class="fa fa-lg fa-fw fa-user-circle"></i>
            <span class="navbar-item-label">{{.User}}</span>
          </p>
          <div class="navbar-dropdown">
            <a href="{{.Host}}/export/exported/" class="navbar-item">Download CEX</a>
            <a href="#" class="navbar-item">Account Settings</a>
            <a href="#" class="navbar-item">Display Settings</a>
            <a href="{{.Host}}/logout/" class="navbar-item">Logout</a>
          </div>
          <div class="col-6 navbar-text text-end bg-info text-white p-2">
            {{ handler "signout" "getuserwidget" }}
          </div>  
        </div>
      </div>
    </div>
  </div>
</nav>

<script type="text/javascript">
  (function() {
    var burger = document.querySelector('.burger')
    var nav = document.querySelector('#' + burger.dataset.target)
    burger.addEventListener('click', function() {
      burger.classList.toggle('is-active')
      nav.classList.toggle('is-active')
    })
  })()
</script>
{{end}}
